/*header{
    background-color: #2D70B6;
}
header h3{
    color: white;
}

.section1{
    background-color: #666666;
    padding-top: 5px;
}
.section1 .row1{
    margin-left: 2%;
}
.section1 h6{
    color: #FFFFFF;
}
.section1 p{
    color: #FFFFFF;
}
.section1 h2{
    color: #FFF200;
}
.section1 img{
    height: 100px;
    width: 100px;
}

.login-form{
    margin: 2% 35%;
}*/